html, body, #root {
  height: 100%;
}

.App-container * {
  max-width: 100%;
  box-sizing: border-box;
}
@media (min-width: 1440px) {
  .App-container {
    max-width: 1440px; 
  }
}

@font-face {
  font-family: 'Gilroy';
  src: url('./assets/Fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./assets/Fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./assets/Fonts/Gilroy-SemiBold.ttf') format('truetype');
  font-weight: 600;
}


@font-face {
  font-family: 'Zapfino';
  src: url('./assets/Fonts/ZapfinoForteLTPro.otf') format('truetype');
  font-style: normal;
}
